body {
    background: url(Pictures/MX\ Black.jpg)
    font-family: 'Poppins';
}

a {
    font-family: 'Poppins';
    transform: translate(-50%, -50%);
    position: absolute;
    top: 45%;
    left: 50%;
    text-align:center;
    color: black;
}
