body {
    font-family: 'Poppins';
    background: url(Pictures/MX\ Black.jpg);
}

h1 {
    text-align:center;
    font-weight: bold;
    font-size: 45px;
    color:white;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 45%;
    left: 50%;
}

a {
    color: white;
    text-decoration: none;
    margin: 5px;
}

.main-p {
    text-align:center;
    color:white;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 52%;
    left: 50%;
    font-family: 'Poppins';
}

.top-cta {
    text-align:center;
    color:white;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 75%;
    left: 50%;
    font-family: 'Poppins';
}

.primary-nav {
    text-align:right;
    color:white;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 5%;
    right: -2%;
    font-family: 'Poppins';
    list-style: none;
}

.secondary-nav {
    text-align:right;
    color:white;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 92%;
    right: 2.5%;
    font-family: 'Poppins';
    list-style: none;
}

.wip {
    color: white;
    font-size: 10px;
}

span {
    color:gold
}