body {
    font-family: 'Poppins';
    background: url(Pictures/MX\ Black.jpg);
    width: 100%;
    margin: 0 auto;
}

h1 {
    text-align:center;
    font-weight: bold;
    font-size: 45px;
    color:white;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 9.5em;
    left: 50%;
}

a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.main-p {
    text-align:center;
    color:white;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 30em;
    left: 50%;
    font-family: 'Poppins';
}

.top-cta {
    text-align:center;
    color:white;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 41em;
    left: 50%;
    font-family: 'Poppins';
}

.primary-nav {
    text-align:right;
    color:white;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 4em;
    right: -2.9%;
    font-family: 'Poppins';
    list-style: none;
}

.secondary-nav {
    text-align:right;
    color:white;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 55em;
    right: 2.9%;
    font-family: 'Poppins';
    list-style: none;
}

.wip {
    color: white;
    font-size: 10px;
}

span {
    color:gold
}

::-webkit-scrollbar {
    display: none;
  }

::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
